*
*/

# Whitelist some files
!.gitignore
!.bashrc
!.bash_aliases
!.Xresources
!.vimrc
!.gtkrc-2.0

# Files and Folders
#

# .config
!.config
!.config/compton.conf
!.config/gtk-3.0
!.config/gtk-3.0/settings.ini

# i3wm
!.i3
!.i3/**/*
.i3/*.swo


